@import "Utils/variables";
@import "Utils/mixins";

*{
    @include page-format;
}

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}

h1{
    @include h1-format;
}
h2{
    @include h2-format;
}
h3{
    @include h3-format;
}
h4{
    @include h4-format;
}
h5{
    @include h5-format;
}
header{
   @include header-format;   
}
.header-menu{
    @include header-menu;
}
.search-container{
    @include Search-format;
}
.search-content{    
    &__locator{
        @include locator-format;
    }
    &__icon-locator{
        margin-right: $margin-right;
    }
    &__text-locator{
        color: $color-text-lighten-medium;
    }
    &__title{
        margin: $margin-top-big;
    }  
    &__description{
        @include search-title-format;
    }
    &__button{
        @include button-format;
        &:hover{
            @include button-hover;
        }
    }
}

.how-works-container{
    @include how-works-container-format;
}
.how-works-title{
    @include how-works-title-format;   
}
.how-works-element{
    @include how-works-element-format;
    &__step-num{
        @include how-works-step-num-format;
    }
    &__icon{
        @include how-works-icon-format;
    }
    &:hover{
        background: $color-primary-lighten;
        :nth-child(2){
            color: $color-primary;
        }
    }
}

.restaurants-container{
    @include restaurants-container;
}

.restaurants-title{
    margin: $margin-title;

}
.restaurants-card{
    @include restaurants-card;
    &:hover{
        box-shadow: $botton-shadow-hover;
    }
    &__image{
       @include restaurant-card-image;
    }
    &__title{
        @include restaurant-card-title;
    }
    &__city{
        @include restaurant-card-city;
    }
    &__new{
        @include restaurant-card-new;
    }
}
.heart-container{
    @include restaurant-card-icon;  
    @include heart-animation;
}
.heart-menu{    
    font-size: $icon-size;
    @include heart-animation;
    &__icon-hover{
        margin: 0rem -1.5rem;
    }
}
.menu-image{
    @include menu-image;
}
.menu-container{
    @include menu-container;
    &__menu-botton{
        align-self: center;
        margin: $margin-top-bottom-big;
        width: 50%;
    }
}
.menu-title-container{
    @include menu-title-container;
    &__menu-icon{
        @include menu-icon;
    }
}
.menu-element-container{
    @include menu-element-container;
}

.menu-element-title{
   @include menu-element-title;
}
.menu-card{
    @include menu-card;
    &__prize{
        @include menu-card-prize;
    }
    &__check{
        @include menu-card-check;
    }
}
.menu-card-title{
    @include menu-card-title;
    &__dish{
        margin: $margin-top-ultralight;
    }
    &__description{        
        margin: $margin-top-bottom-ultralight;
    }
}

footer{
    color: white;
    background: $color-darken-dark;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-link{
    margin: $margin-top-bottom-ultralight;
    padding: $pading-left-big;
    &__icon{
        padding: $pading-right;
    }
    &__last{
        margin: $margin-top-bottom-ul-big;
        padding: $pading-left-big;
    }
}
.footer-title{
    padding: $pading-left-big;
}
@media (min-width: 767px) {
   main{
       @include main-media;
   }

   .search-container{
       width: 45%;
   }
   .how-works-container{
       width: 50%;
   }
   .restaurants-container{
       width: 95%;
       @include restaurant-container-media;
      
   }
   .restaurants-card{
       width: 45%;
       margin: $margin-top-bottom-ul-big;
   }
   .restaurants-title{
       width: $all-width;
       @include restaurants-title-media;
   }
   header{
       @include header-media;
   }
}
@media (min-width: 991px) {
   .restaurants-card{
       width: 29%;
       margin: $margin-lr-tb-light;
   }
   .restaurants-title{
       width: 95%;
   }
   .restaurants-container{
       justify-content: space-between;
   }
}