* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  font-weight: 100;
}

h4 {
  font-size: 0.9rem;
  font-weight: 100;
}

h5 {
  font-family: Shrikhand;
  font-size: 1.4rem;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.8rem 0rem;
}

header :first-child {
  width: 40%;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-menu :nth-child(2) {
  font-size: 1.5rem;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
}

.search-content__locator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #e5e5e5;
  width: 100%;
  border-style: solid;
  border-width: 0.2rem 0rem 0rem 0rem;
  border-color: #bfbfbf;
}

.search-content__icon-locator {
  margin-right: 1rem;
}

.search-content__text-locator {
  color: #595959;
}

.search-content__title {
  margin: 2.5rem 0rem 0rem 0rem;
}

.search-content__description {
  color: #595959;
  margin: 2.5rem 0rem;
  padding: 0rem 1rem 0rem 1rem;
}

.search-content__button {
  margin: 0rem 0rem 2.5rem 0rem;
  padding: 1.1rem;
  width: 60%;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  border-radius: 2.5rem;
  border-style: none;
  -webkit-box-shadow: 1px 1.5px 5px #999999;
          box-shadow: 1px 1.5px 5px #999999;
}

.search-content__button:hover {
  -webkit-box-shadow: 2px 3px 10px #999999;
          box-shadow: 2px 3px 10px #999999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
}

.how-works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0.8rem 0rem;
}

.how-works-title {
  margin: 1.6rem 2rem;
}

.how-works-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
  -ms-flex-item-align: center;
      align-self: center;
  width: 75%;
  margin: 0.8rem 0rem;
  border-radius: 25px;
  background: #f2f2f2;
  padding: 1rem 0rem 1rem 0rem;
  -webkit-box-shadow: 1px 1.5px 5px #999999;
          box-shadow: 1px 1.5px 5px #999999;
}

.how-works-element__step-num {
  border-style: none;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  padding: 0.3rem 0.6rem;
  margin: 0rem 0rem 0rem -1rem;
  font-weight: 100;
}

.how-works-element__icon {
  padding: 0rem 1rem 0rem 1rem;
  color: #595959;
}

.how-works-element:hover {
  background: #f2eafb;
}

.how-works-element:hover :nth-child(2) {
  color: #9356DC;
}

.restaurants-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #f2f2f2;
  margin: 2.5rem 0rem 0rem 0rem;
}

.restaurants-title {
  margin: 1.6rem 2rem;
}

.restaurants-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  background: white;
  border-style: none;
  border-radius: 25px;
  height: 200px;
  width: 80%;
  -webkit-box-shadow: 1px 1.5px 5px #999999;
          box-shadow: 1px 1.5px 5px #999999;
  margin: 0.8rem 0rem;
}

.restaurants-card:hover {
  -webkit-box-shadow: 2px 3px 10px #999999;
          box-shadow: 2px 3px 10px #999999;
}

.restaurants-card__image {
  height: 66%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.restaurants-card__title {
  margin: 0.8rem 0rem 0rem 0rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0rem 0rem 0rem 0.5rem;
}

.restaurants-card__city {
  margin: 0.4rem 0rem 0rem 0rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0rem 0rem 0rem 0.5rem;
}

.restaurants-card__new {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-style: none;
  border-radius: 5px;
  background: #99E2D0;
  padding: 0.6rem 2rem;
  margin: 1rem;
  color: #278870;
}

.heart-container {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.5rem;
  padding: 10rem 3rem 0rem 0rem;
}

.heart-container__icon {
  position: relative;
  opacity: 100%;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: Opacity;
  transition-property: Opacity;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.heart-container__icon-hover {
  position: absolute;
  margin: 0.06rem -1.5rem;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: Opacity;
  transition-property: Opacity;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}

.heart-container:hover :nth-child(1) {
  opacity: 0%;
}

.heart-container:hover :nth-child(2) {
  opacity: 100%;
}

.heart-menu {
  font-size: 1.5rem;
}

.heart-menu__icon {
  position: relative;
  opacity: 100%;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: Opacity;
  transition-property: Opacity;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.heart-menu__icon-hover {
  position: absolute;
  margin: 0.06rem -1.5rem;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: Opacity;
  transition-property: Opacity;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}

.heart-menu:hover :nth-child(1) {
  opacity: 0%;
}

.heart-menu:hover :nth-child(2) {
  opacity: 100%;
}

.heart-menu__icon-hover {
  margin: 0rem -1.5rem;
}

.menu-image {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu-container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-style: none;
  width: 100%;
  background: #f2f2f2;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin: -3rem 0rem 0rem 0rem;
}

.menu-container__menu-botton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2.5rem 0rem;
  width: 50%;
}

.menu-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.menu-title-container__menu-icon {
  font-size: 1.5rem;
}

.menu-element-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu-element-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #595959;
  border-style: solid;
  border-color: #99E2D0;
  border-width: 0rem 0rem 0.2rem 0rem;
  padding: 0rem 0rem 0rem 0.5rem;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  width: 90%;
  background: white;
  border-style: none;
  border-radius: 15px;
  margin: 0.4rem 0rem;
  -webkit-box-shadow: 1px 1.5px 5px #999999;
          box-shadow: 1px 1.5px 5px #999999;
  opacity: 100%;
  -webkit-animation: show-menu-card 3s ease-in-out;
          animation: show-menu-card 3s ease-in-out;
}

.menu-card__prize {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0rem 0.5rem 0rem 0rem;
}

.menu-card__check {
  padding: 2rem 1rem;
  background: #99E2D0;
  height: 100%;
  border-style: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.menu-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0rem 0rem 0rem 0.5rem;
}

.menu-card-title__dish {
  margin: 0.4rem 0rem 0rem 0rem;
}

.menu-card-title__description {
  margin: 0.4rem 0rem;
}

footer {
  color: white;
  background: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-link {
  margin: 0.4rem 0rem;
  padding: 0rem 0rem 0rem 2rem;
}

.footer-link__icon {
  padding: 0rem 0.5rem 0rem 0rem;
}

.footer-link__last {
  margin: 0.4rem 0rem 2.5rem 0rem;
  padding: 0rem 0rem 0rem 2rem;
}

.footer-title {
  padding: 0rem 0rem 0rem 2rem;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0%;
  z-index: -2;
  -webkit-animation: show-spin 2s;
          animation: show-spin 2s;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader-container__loader {
  border: 16px solid #f3f3f3;
  border-style: double;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
          animation: spin 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes show-spin {
  0% {
    z-index: 2;
    opacity: 100%;
  }
  100% {
    z-index: 2;
    opacity: 100%;
  }
}

@keyframes show-spin {
  0% {
    z-index: 2;
    opacity: 100%;
  }
  100% {
    z-index: 2;
    opacity: 100%;
  }
}

@-webkit-keyframes show-menu-card {
  0% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes show-menu-card {
  0% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 767px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-container {
    width: 45%;
  }
  .how-works-container {
    width: 50%;
  }
  .restaurants-container {
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-style: none;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
  }
  .restaurants-card {
    width: 45%;
    margin: 0.4rem 0rem 2.5rem 0rem;
  }
  .restaurants-title {
    width: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    border-style: solid;
    border-color: #99E2D0;
    border-width: 0rem 0rem 0.2rem 0rem;
  }
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0rem 0rem 0rem 2rem;
    margin: 0.8rem 0rem;
  }
}

@media (min-width: 991px) {
  main {
    width: 992px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurants-card {
    width: 29%;
    margin: 1rem 1rem;
  }
  .restaurants-title {
    width: 95%;
  }
  .restaurants-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */