@import "Utils/variables";
@import "Utils/mixins";

*{
    @include page-format;
}

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}

h1{
    @include h1-format;
}
h2{
    @include h2-format;
}
h3{
    @include h3-format;
}
h4{
    @include h4-format;
}
header{
   @include header-format;
}

.search-container{
    @include Search-format;
}
.search-content{    
    &__locator{
        @include locator-format;
    }
    &__icon-locator{
        margin-right: $margin-right;
    }
    &__text-locator{
        color: $color-text-lighten-medium;
    }
    &__title{
        margin: $margin-top-big;
    }  
    &__description{
        @include search-title-format;
    }
    &__button{
        @include button-format;
        &:hover{
            @include button-hover;
        }
    }
}

.how-works-container{
    @include how-works-container-format;
}
.how-works-title{
    @include how-works-title-format;   
}
.how-works-element{
    @include how-works-element-format;
    &__step-num{
        @include how-works-step-num-format;
    }
    &__icon{
        @include how-works-icon-format;
    }
    &:hover{
        background: $color-primary-lighten;
        :nth-child(2){
            color: $color-primary;
        }
    }
}

.restaurants-container{
    @include restaurants-container;
}

.restaurants-title{
    margin: $margin-title;

}
.restaurants-card{
    @include restaurants-card;
    &:hover{
        box-shadow: $botton-shadow-hover;
    }
    &__image{
        height: 66%;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    &__title{
        margin: $margin-top-light;
        align-self: flex-start;
        padding: $pading-left;
    }
    &__city{
        margin: $margin-top-ultralight;
        align-self: flex-start;
        padding: $pading-left;
    }
    &__icon{
        position: absolute;
        align-self:flex-end;
        font-size: $heart-icon-size;
        padding: $pading-heart;
    }
    &__new{
        position: absolute;
        align-self: flex-end;
        border-style: none;
        border-radius: 5px;
        background: $color-tertiary;
        padding: $padding-new;
        margin: $margin-right;
        color: $color-tertiary-darken;
    }
}

@media (min-width: 768px) {
   
}
@media (min-width: 991px) {
   
}