@import "Utils/variables";
@import "Utils/mixins";

*{
    @include page-format;
}

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}

h1{
    @include h1-format;
}
h2{
    @include h2-format;
}
h3{
    @include h3-format;
}
h4{
    @include h4-format;
}
h5{
    @include h5-format;
}
header{
   @include header-format;   
}
.header-menu{
    @include header-menu;
}
.search-container{
    @include Search-format;
}
.search-content{    
    &__locator{
        @include locator-format;
    }
    &__icon-locator{
        margin-right: $margin-right;
    }
    &__text-locator{
        color: $color-text-lighten-medium;
    }
    &__title{
        margin: $margin-top-big;
    }  
    &__description{
        @include search-title-format;
    }
    &__button{
        @include button-format;
        &:hover{
            @include button-hover;
        }
    }
}

.how-works-container{
    @include how-works-container-format;
}
.how-works-title{
    @include how-works-title-format;   
}
.how-works-element{
    @include how-works-element-format;
    &__step-num{
        @include how-works-step-num-format;
    }
    &__icon{
        @include how-works-icon-format;
    }
    &:hover{
        background: $color-primary-lighten;
        :nth-child(2){
            color: $color-primary;
        }
    }
}

.restaurants-container{
    @include restaurants-container;
}

.restaurants-title{
    margin: $margin-title;

}
.restaurants-card{
    @include restaurants-card;
    &:hover{
        box-shadow: $botton-shadow-hover;
    }
    &__image{
       @include restaurant-card-image;
    }
    &__title{
        @include restaurant-card-title;
    }
    &__city{
        @include restaurant-card-city;
    }
    &__icon{
        @include restaurant-card-icon;
    }
    &__new{
        @include restaurant-card-new;
    }
}

.menu-image{
    @include menu-image;
}
.menu-container{
    @include menu-container;
}
.menu-title-container{
    @include menu-title-container;
    &__menu-icon{
        @include menu-icon;
    }
}
@media (min-width: 768px) {
   
}
@media (min-width: 991px) {
   
}