
// Colors
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-grey-background : #f2f2f2;

$color-back-darken-ligth :  darken($color: $color-grey-background, $amount: 5);
$color-back-darken-medium :  darken($color: $color-grey-background, $amount: 20);
$color-darken-dark :  darken($color: $color-grey-background, $amount: 70);
$color-text-lighten-medium : lighten($color: black, $amount: 35);
$color-tertiary-darken : darken($color: $color-tertiary, $amount: 40);
$color-primary-lighten : lighten($color: $color-primary, $amount: 35);
$color-backgroud-dark-transparent : rgba(0,0,0,0.5);


$button-background : linear-gradient($color-secondary,$color-primary);
$button-background-hover : linear-gradient(
    lighten($color: $color-secondary, $amount: 5 ),
    lighten($color: $color-primary, $amount: 5 ));
$heart-hover : linear-gradient($color-primary,$color-secondary);

//Sizes

$all-width : 100%;
$header-font-size : 2rem;
$margin-top-bottom-ligth : 0.8rem 0rem;
$margin-top-bottom-big : 2.5rem 0rem;
$margin-lr-tb-light : 1rem 1rem;
$margin-top-big : 2.5rem 0rem 0rem 0rem;
$margin-top-light : 0.8rem 0rem 0rem 0rem;
$margin-top-ultralight : 0.4rem 0rem 0rem 0rem;
$margin-top-bottom-ultralight : 0.4rem 0rem;
$margin-top-bottom-ul-big : 0.4rem 0rem 2.5rem 0rem;
$margin-bottom-big : 0rem 0rem 2.5rem 0rem;
$margin-negative-left : 0rem 0rem 0rem -1rem;
$margin-title :  1.6rem 2rem;
$margin-left-heart: 0rem 0rem 0rem 8rem;
$margin-left: 0rem 0rem 0rem 2rem;
$margin-heart : 10rem 3rem 0rem 0rem;
$margin-heart-hover : 0.06rem -1.5rem;
$margin-menu-container : -3rem 0rem 0rem 0rem; 
$h3-size : 1.2rem;
$h4-size : 0.9rem;
$h2-size : 1rem;
$h1-size : 1.5rem;
$h5-size : 1.4rem;
$icon-size :1.5rem;
$padding-light : 1.1rem;
$pading-left-right : 0rem 1rem 0rem 1rem;
$pading-left : 0rem 0rem 0rem 0.5rem;
$pading-right : 0rem 0.5rem 0rem 0rem;
$pading-left-big : 0rem 0rem 0rem 2rem;
$pading-top-bottom : 1rem 0rem 1rem 0rem;
$pading-heart-menu :0rem 0rem 0rem 18rem;
$padding-new : 0.6rem 2rem;
$padding-check : 2rem 1rem;
$height-card : 200px;   
$margin-right : 1rem;
$border-locator : 0.2rem 0rem 0rem 0rem;
$pading-step-num : 0.3rem 0.6rem;



//decorators

$border-button-radius : 2.5rem;
$border-menu-title : 0rem 0rem 0.2rem 0rem;
$botton-shadow : 1px  1.5px 5px  lighten($color: black, $amount: 60);
$botton-shadow-hover : 2px 3px 10px  lighten($color: black, $amount: 60);