@keyframes spin {
    0% { transform: rotate(0deg); }
    30% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }
@keyframes show-spin {
    0% {
        z-index: 2;
        opacity: 100%; 
    }
    100% {
        z-index: 2;
        opacity: 100%;
    }
}
@keyframes show-menu-card {
    0% {
        opacity: 0%;
    }
    60% {
        opacity: 0%;        
        transform: translateY(10px); 
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}