@mixin page-format {
    box-sizing: border-box;    
    font-family: Roboto;
    text-align: center;
}

@mixin h1-format {
    font-size: $h1-size;
    font-weight: 900;
}

@mixin h2-format {
    font-size: $h2-size;
    font-weight: 600;
}
@mixin h3-format {
    font-size: $h3-size;
    font-weight: 100;
}
@mixin h4-format {
    font-size: $h4-size;
    font-weight: 100;
}
@mixin h5-format {
    font-family: Shrikhand;
    font-size: $h5-size;
    font-weight:bold;
}
@mixin header-format {
    display: flex;
    justify-content: center;
    margin: $margin-top-bottom-ligth;
    :first-child{
        width: 40%;
    }
}
@mixin header-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    :nth-child(2){
        font-size: $icon-size;
    }  
}
@mixin locator-format {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background: $color-back-darken-ligth;
    width: $all-width;
    border-style: solid;
    border-width: $border-locator;
    border-color: $color-back-darken-medium;
}
@mixin search-title-format {    
    color: $color-text-lighten-medium;
    margin: $margin-top-bottom-big;        
    padding: $pading-left-right;
}
@mixin Search-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    background : $color-grey-background;
}

@mixin button-format {
    margin: $margin-bottom-big;
    padding: $padding-light;
    width: 60%;
    color: white;
    background: $button-background;
    font-weight:500;
    border-radius: $border-button-radius;
    border-style: none;    
    box-shadow: $botton-shadow;
}
@mixin button-hover {
    box-shadow: $botton-shadow-hover;
    background: $button-background-hover;
}
@mixin how-works-container-format {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: $margin-top-bottom-ligth;
}
@mixin how-works-title-format {
    margin: $margin-title;
}
@mixin how-works-element-format {    
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: none;
    align-self: center;
    width: 75%;
    margin: $margin-top-bottom-ligth;
    border-radius: 25px;
    background: $color-grey-background;
    padding: $pading-top-bottom;
    box-shadow: $botton-shadow;
}
@mixin how-works-step-num-format {
    border-style: none;
    border-radius: 50%;
    background-color: $color-primary;
    color: white;
    padding: $pading-step-num;
    margin: $margin-negative-left;
    font-weight: 100;
}
@mixin how-works-icon-format {
    padding: $pading-left-right;
    color: $color-text-lighten-medium;
}

@mixin restaurants-container {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $color-grey-background;
    margin: $margin-top-big;
}
@mixin restaurants-card {    
    display: flex;
    flex-direction: column;
    align-self: center;
    background: white;
    border-style: none;
    border-radius: 25px;
    height: $height-card;
    width: 80%;
    box-shadow: $botton-shadow;
    margin: $margin-top-bottom-ligth;
}
@mixin restaurant-card-image {    
    height: 66%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
@mixin restaurant-card-title {    
    margin: $margin-top-light;
    align-self: flex-start;
    padding: $pading-left;
}
@mixin restaurant-card-city {
    margin: $margin-top-ultralight;
    align-self: flex-start;
    padding: $pading-left;
}

@mixin restaurant-card-icon {
    position: absolute;
    align-self:flex-end;
    font-size: $icon-size;
    margin: $margin-heart;
}
@mixin heart_gradient_color{    
    background: $heart-hover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin heart-transition{    
    transition-duration: 1000ms;
    transition-property: Opacity;
    transition-timing-function: ease-in-out;  
}

@mixin restaurant-card-new {
    position: absolute;
    align-self: flex-end;
    border-style: none;
    border-radius: 5px;
    background: $color-tertiary;
    padding: $padding-new;
    margin: $margin-right;
    color: $color-tertiary-darken;
}
@mixin menu-image {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 250px;
}
@mixin menu-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-style: none;
    width: $all-width;
    background: $color-grey-background;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;    
    margin: $margin-menu-container;
}
@mixin menu-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: $all-width;
}
@mixin menu-icon {
    font-size: $icon-size;
}
@mixin menu-element-container{    
    display: flex;
    flex-direction: column;
    width: $all-width;
}
@mixin menu-element-title {   
    align-self: flex-start;
    color: $color-text-lighten-medium;
    border-style: solid;
    border-color: $color-tertiary;
    border-width: $border-menu-title;
    padding: $pading-left;    
}
@mixin menu-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    height: 75px;
    width: 90%;
    background: white;
    border-style: none;
    border-radius: 15px;
    margin: $margin-top-bottom-ultralight;
    box-shadow: $botton-shadow;
    opacity: 100%;
    animation: show-menu-card 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
 }
@mixin menu-card-prize{
    position: relative;
    align-self: flex-end;  
    padding: $pading-right;
    width: 10%;    
}
@mixin menu-card-check {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    background: $color-tertiary;
    height: 100%;
    width: 0%;
    border-style: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    opacity: 0%;
}
@mixin menu-card-title { 
    position:relative;   
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: $pading-left;
    width: 90%;
}
@mixin text-ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@mixin heart-animation {     
    &__icon{    
        position: relative;
        opacity: 100%;
        transition-delay: 200ms;        
        @include heart-transition;
    }
    &__icon-hover{ 
        position: absolute;
        margin: 0.06rem -1.5rem;
        @include heart-transition;
        @include heart_gradient_color;
        opacity: 0%;
    }
    &:hover{
        :nth-child(1){
            opacity: 0%;
        }
        :nth-child(2){
            opacity: 100%;
        }
    }    
}
@mixin main-media {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin restaurant-container-media {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: none;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}
@mixin restaurants-title-media {
    align-self: flex-start;
    border-style: solid;
    border-color: $color-tertiary;
  
    border-width: $border-menu-title;
}
@mixin header-media {    
    justify-content: flex-start;
    padding: $pading-left-big;
    margin: $margin-top-bottom-ligth;
}

@mixin modal {
    position: fixed; 
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $color-backgroud-dark-transparent;
    opacity: 0%;  
    z-index: -2; 
    animation: show-spin 2s;
}
@mixin loader-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;  
}
@mixin loader {
    border: 16px solid #f3f3f3;
    border-style: double;  
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
}